<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 

<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
        <h1>Listes des personnes</h1>

        <a th:href="@{/showNewPersonneForm}" class="btn btn-primary btn-sm mb-3"> Ajout Personne </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
					<th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Genre</th>
                    <th>Date de naissance</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="personne : ${listPersonne}">
					 <td th:text="${personne.id}"></td>
                    <td th:text="${personne.nom}"></td>
     
                  	<td th:text="${personne.prenom}"></td>
                  	 <td th:text="${personne.genre}"></td>
     
                  	<td th:text="${personne.annee}"></td>
                  	<td><a th:href="@{/deletePersonne/{id}(id=${personne.id})}" class="btn btn-danger">Supprimer</a></td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>